html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: grey;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#content {
    background-image: url(../img/background.jpg);
    min-width: 320px;
    max-width: 1000px;
    min-height: 800px;
    margin: auto;
    margin-top: -16px;
/*    padding: 10px;*/
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px 0px;
}

h1 {
    font-family: 'Handlee', cursive;
    font-size: 32pt;
    color: #252525;
    text-align: center;
    margin-bottom: 5px;
}

/* Hamburger Nav Style Start */

.hamburger {
    position: fixed;
    top: 0;
    right: 0;
    float: right;
    margin: 10px;
    padding: 10px 10px 9px;
    cursor: pointer;
    z-index: 99999;
    display: block;
}

.hamburger .hamburger-inner {
    position: relative;
    height: 21px;
    width: 25px;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 999999;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background: #011053;
    position: absolute;
    top: 0;
}

.hamburger .bar.bar2,
.hamburger .bar.bar3 {
    top: 9px;
}

.hamburger .bar.bar4 {
    top: 18px;
}

.hamburger.open .bar1,
.hamburger.open .bar4 {
    display: none;
}

.hamburger.open .bar2,
.hamburger.open .bar3 {
    height: 4px;
}

.hamburger.open .bar {
    background-color: #FFFFFF!important;
}

.mobile-menu {
    display: none;
}

.hamburger.open .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 240px;
    height: 100%;
    color: #fff;
    background-color: #011053;
    z-index: 99998;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.mobile-menu a {
    color: #FFFFFF;
}

.mobile-menu .mobile-menu-inner {
    width: 200px;
    padding: 20px 20px 60px;
}

.mobile-menu ul {
    margin: 0 0 25px;
    padding: 0;
}

.mobile-menu ul li {
    list-style: none;
    padding: 10px 0;
}

/* Hamburger Nav End */

img {
    border: 1px solid black;
    width: 100%;
    margin: auto;
}

h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 24pt;
    color: #4E1616;
    margin-bottom: 5px;
    margin-top: 0px;
}

p, legend, label, ul, li {
    font-family: 'Lora', serif;
    font-size: 14pt;
    color: #5F3309;
    line-height: 18pt;
}

a {
    font-weight: 700;
    text-decoration: underline;
    color: #011053;
}

a:hover {
    text-decoration: none;
}

.hours {
  display:none;
}

.opentime {
    color: green;
    font-weight: 700;
}

.closedtime {
    color: #4E1616;
    font-weight: 700;
}

section {
    margin-top: 5px;
}

figcaption {
    font-family: 'Lora', serif;
    font-size: 10pt;
    text-align: left;
    color: #5F3309;
    line-height: 12pt;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.menutitle, label {
    font-weight: 700;
}

.price {
    font-weight: 700;
    font-style: italic;
}

#hours_contact, #currentstatus, #dishofday,
#reservations, #dishofday_content,
#appetizers, #entrees, #desserts, #beverages,
#newsitems, #events, #specials {
    text-align: center;
    padding: 10px;
}

#beverages {
    text-align: left;
    clear: both;
}

.news {
    width: 35%;
    margin: 5px;
    float: left;
}

#events, #specials {
    clear: both;
}

figure {
    clear: both;
}

fieldset {
    text-align: left;
}

legend {
    font-weight: 700;
    padding: 10px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
}

label {
    display: inline-block;
    width: 4em;
}

.button {
    background-color: #7D4900;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 14pt;
    padding: 15px 15px 15px 15px;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover.button {
    background-color: #5F3309;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 14pt;
    padding: 15px 15px 15px 15px;
    color: #FFFFFF;
    text-decoration: none;
}

footer p {
    font-size: 8pt;
    line-height: 10pt;
    text-align: center;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 20px 20px;
    background: url(../img/top.png);
    background-repeat: no-repeat;
}

@media (min-width: 400px) {

    h1 {
        padding-top: 25px;
    }

    h2 {
        font-size: 20pt;
    }
}

@media (min-width: 800px) {

    body {
        width: 90%;
        max-width: 1000px;
        margin: auto;
    }

    #content {
        width: 95%;
        margin: auto;
    }

    #hours_contact, #dishofday {
        width: 50%;
        text-align: left;
        float: left;
    }

    #appetizers, #entrees, #desserts {
        width: 33%;
        float: left;
        padding-left: 15px;
    }

    #newsitems, #events, #specials {
        width: 33%;
        float: left;
        padding-left: 15px;
        clear: none;
    }

    #reservations {
        clear: both;
    }

    #resform, #reservations p {
        width: 45%;
        float: left;
        line-height: 24pt;
    }

    #dishofday_content {
        width: 80%;
        padding: 5px;
        margin: auto;
    }

    .quicklinks {
        display: none;
    }

    figure {
        margin-top: 30px;
    }

    h2 {
        margin-bottom: 10px;
    }

    footer {
        clear: both;
    }
}

@media (min-width: 900px) {
    h2 {
        font-size: 24pt;
    }
}
