html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: grey;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#content {
    background-image: url(../img/background.jpg);
    min-width: 320px;
    max-width: 1000px;
    min-height: 800px;
    margin: auto;
    margin-top: -16px;
/*    padding: 10px;*/
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px 0px;
}

h1 {
    font-family: 'Handlee', cursive;
    font-size: 32pt;
    color: #252525;
    text-align: center;
    margin-bottom: 0px;
}

/* Hamburger Nav Style Start */

.hamburger {
    position: fixed;
    top: 0;
    right: 0;
    float: right;
    margin: 10px;
    padding: 10px 10px 9px;
    cursor: pointer;
    z-index: 99999;
    display: block;
}

.hamburger .hamburger-inner {
    position: relative;
    height: 21px;
    width: 25px;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background: #011053;
    position: absolute;
    top: 0;
}

.hamburger .bar.bar2,
.hamburger .bar.bar3 { top: 9px; }

.hamburger .bar.bar4 { top: 18px; }

.hamburger.open .bar1,
.hamburger.open .bar4 { display: none; }

.hamburger.open .bar2,
.hamburger.open .bar3 { height: 4px; }

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    display: block;
    width: 240px;
    height: 100%;
    color: #fff;
    background-color: #7D4900;
    z-index: -100;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.mobile-menu .mobile-menu-inner {
    width: 200px;
    padding: 20px 20px 60px;
}

.mobile-menu ul {
    margin: 0 0 25px;
    padding: 0;
}

.mobile-menu ul li {
    list-style: none;
    padding: 10px 0;
}

/* Hamburger Nav End */

#logo img {
    border: 1px solid black;
    width: 100%;
    margin: auto;
    min-height: 135px;
}

h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 24pt;
    color: #4E1616;
    margin-bottom: 0px;
    margin-top: 0px;
}

p, figcaption, legend, label {
    font-family: 'Lora', serif;
    font-size: 14pt;
    color: #5F3309;
    line-height: 18pt;
}

a {
    font-weight: 700;
    text-decoration: underline;
    color: #011053;
}

section {
    margin-top: 5px;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 10pt;
}

#hours_contact, #dishofday, #reservations {
    text-align: center;
}

fieldset {
    text-align: left;
}

label {
    font-weight: 700;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button {
    background-color: #7D4900;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 14pt;
    padding: 15px 15px 15px 15px;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover.button {
    background-color: #5F3309;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 14pt;
    padding: 15px 15px 15px 15px;
    color: #FFFFFF;
    text-decoration: none;
}
