html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: grey;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#content {
    background-image: url(../img/background.jpg);
    min-width: 320px;
    max-width: 1000px;
    min-height: 800px;
    margin: auto;
    margin-top: -16px;
/*    padding: 10px;*/
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px 0px;
}

h1 {
    font-family: 'Handlee', cursive;
    font-size: 32pt;
    color: #252525;
    text-align: center;
    margin-bottom: 0px;
}

#logo img {
    border: 1px solid black;
    width: 100%;
    margin: auto;
    min-height: 135px;
}
